<mat-grid-list cols="4" rowHeight="70px" gutterSize="3px">
  <mat-grid-tile
      *ngFor="let tile of tiles; let i = index"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    <button mat-icon-button *ngIf="i==0 && count==2" (click)="openDialog()"><mat-icon>help_outline</mat-icon></button>
    <div *ngIf="i==0 && count>2" class="sticker">
		<img src="/assets/stickers/gouden_ei.png" 
				class="secret animated bounce delay-1s"
				matTooltip="Super gedaan!">
	</div>
    <div>{{tile.text}}</div>
  </mat-grid-tile>
</mat-grid-list>