
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between stretch" class="strengths-weaknesses">
<mat-card >
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-roeland"></div>
	    <mat-card-title>Waarom HandiHow?</mat-card-title>
	    <mat-card-subtitle>R. Verbakel - Education Developer bij HandiHow</mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
	    <h3>
	      "HandiHow heeft uitgebreide ervaring met applicatie ontwikkeling voor het onderwijs. </h3>
	    <h3>We werken op een zeer transparante wijze en bevorderen daarmee de samenwerking tussen scholen."</h3>
	    <div *ngIf="count>1" fxLayout="row" fxLayoutAlign="center center">
			<img src="/assets/stickers/bloem_blauw.png" 
					class="secret animated jello delay-1s"
					matTooltip="Gamification maakt leren leuk! Zoek nog een puzzel.">
		</div>
	  </mat-card-content>
	  <mat-card-actions>
	  	<button mat-icon-button *ngIf="count===1" (click)="openDialog()"><mat-icon>help_outline</mat-icon></button>
	  	<a mat-button routerLink="/terms">Onze prijzen</a>
	  </mat-card-actions>
	  
</mat-card>
<section>
	<h3 *ngIf="competitionNumber>0">Aanbod van concurrent {{competitionNumber}}</h3>
	<div *ngFor="let strength of strengths">
		<p>{{strength.strength}}</p>
		<mat-progress-bar color="{{strength.color}}" mode="determinate" value="{{strength.value}}"></mat-progress-bar>
	</div>
	<div fxLayout="row" fxLayoutAlign="center center">
		<button mat-icon-button 
				(click)="onRandomValues()"
				matTooltip="Bekijk aanbod van concurrent"><mat-icon>cached</mat-icon></button>
	</div>
</section>

</div>
