.strengths-weaknesses{
  background: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2FAchtergrond%20waarden%20Handihow.png?alt=media&token=b4fa5f62-379a-4fa0-b217-4cd4f6982371');
  background-repeat: no-repeat;
  background-size: cover;
}

mat-card{
  padding: 20px;
	max-width:500px;
}


h3 {
	font-weight:normal;
}

section {
  padding: 20px;
}