.strengths-weaknesses{
  background: url('/assets/background_values.png');
  background-repeat: no-repeat;
  background-size: cover;
}

mat-card{
  padding: 20px;
	max-width:500px;
}


h3 {
	font-weight:normal;
}

section {
  padding: 20px;
}