<div class="earth-moon-image" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center" >

	<section class="about-earth-moon">
		<h2>Programmeren met VPython</h2>
		<h4>Gravitatiekrachten berekenen</h4>
		<h4>Maan rond de aarde laten draaien</h4>
		<div class="button-row">
  			<a mat-raised-button color="accent" routerLink="/">Terug naar startpagina</a>
  		</div>

	</section>
	
	<section>
	</section>

</div>


<div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center">
	<mat-card fxFlex.gt-md="50">
		<mat-card-header>
			<mat-card-title>Gravitatiekrachten berekenen</mat-card-title>
			<mat-card-subtitle>Programmeren met VPython</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>Download nu deze gratis handout voor de docent en werkbladen voor leerlingen.</p>
			<a mat-raised-button color="primary"
				href="https://docs.google.com/document/d/1B8rtlUyR5e9-X_EZ4LKrm_6ap33IgStMaDC2CC2lArk/edit?usp=sharing" 
				target="_blank">Handout voor docent</a>
			<a mat-raised-button color="accent"
				href="https://docs.google.com/document/d/18QcD-lshhNM2yVkiIMRtxs7vn3eIgkijbtxBdsq4Mrw/edit?usp=sharing" 
				target="_blank">Werkblad voor leerling</a>
			<p>Deze les is geschikt voor leerlingen van 6 VWO die met gravitatiekrachten gaan rekenen.</p>
		</mat-card-content>
	</mat-card>
	<mat-card fxFlex.gt-md="50">
		<mat-card-header>
			<mat-card-title>Programmeren combineren met leren</mat-card-title>
			<mat-card-subtitle>Onze visie op onderwijs</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>HandiHow gelooft dat leerlingen spelenderwijs in aanraking kunnen komen met programmeren.</p>
			<p>Door programmeren "in te bouwen" in de lessenserie, net zoals bijvoorbeeld een practicum, maken ze zich vaardigheden eigen en oefenen ze tegelijkertijd met de stof.</p>
			<p>Wij kunnen helpen bij het maken van lesmateriaal, het bedenken van leuke activerende werkvormen en hoe je dit allemaal kunt integreren in jouw onderwijs.</p>
		</mat-card-content>
	</mat-card>
</div>

<mat-card >
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-roeland"></div>
	    <mat-card-title>Vind jij dit soort lesmateriaal leuk?</mat-card-title>
	    <mat-card-subtitle>R. Verbakel - Education Developer bij HandiHow</mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
	    <h3>
	      "HandiHow wil graag adviseren over nieuwe manieren van lesgeven. Programmeren combineren met leren noemen we dat.</h3>
	      <h3>We kunnen ook een volledige lessenserie geven op jullie school. We hebben lesbevoegde docenten hiervoor."</h3>
	  </mat-card-content>
	  
</mat-card>
