.about-earth-moon {
	max-width: 500px;
	padding: 30px;
	border-radius: 25px;
}

@media all and (min-width:800px){
	.earth-moon-image {
		height: calc(65vh - 50px);
		background: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2FEarth%20moon.png?alt=media&token=2140b61f-c9fa-467f-af7c-a1de9166eef4');
		background-repeat: no-repeat;
		background-size: cover;
	}

    h2 {
        font-size: 2.5em;
    }

    h4 {
        font-size: 1.5em;
    }

}


h2, h4 {
    color: white;
}

@media all and (max-width:800px){
    .earth-moon-image {
        background: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2FAchtergrond%20waarden%20Handihow.png?alt=media&token=b4fa5f62-379a-4fa0-b217-4cd4f6982371');
        background-repeat: no-repeat;
        background-size: cover;
    }

}

mat-card{
	margin: 20px;
}

a {
	margin-right: 10px;
}