mat-card{
  margin: 10px;
}


.iframe{
	height: 400px;
}

.explanation-image {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.image-container {
  position: relative;
  text-align: left;
  color: white;
}

.text-overlay {
  position: absolute;
  top: 8px;
  left: 16px;
}