<mat-card class="cards-portfolio" fxFlex.gt-md="50">
  <mat-card-header>
    <div mat-card-avatar class="skilltree-logo"></div>
    <mat-card-title>Skill Tree</mat-card-title>
    <mat-card-subtitle>Support autonomy with gamification</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    HandiHow's nieuwe Skill Tree applicatie maakt het gemakkelijk om skill trees te maken en het leerproces van studenten te volgen. Skill trees zijn populair geworden binnen de wereld van games. Binnen een game kun je, bijvoorbeeld door bepaalde opdrachten te volbrengen, nieuwe skills krijgen en daarvoor beloond worden. Skill trees zijn daarna ook veelvuldig ingezet buiten games. Serieus gebruik van skill trees wordt "Gamification" genoemd, oftewel, het inzetten van gaming elementen in de ontwikkeling van bijvoorbeeld leerlingen op school.

    Bekijk nu de skill tree applicatie van HandiHow en bedenk hoe jij Skill Trees wilt gebruiken op jouw school!
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://skilltree-b6bba.firebaseapp.com/about" target="_blank">Skill Tree App</a>
  </mat-card-actions>
</mat-card>

<mat-card class="cards-portfolio" fxFlex.gt-md="50">
  <mat-card-header>
    <div mat-card-avatar class="react-logo"></div>
    <mat-card-title>React</mat-card-title>
    <mat-card-subtitle>A JavaScript library for building user interfaces</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    React heeft de wereld van web development flink op z'n kop gezet. Het is nu het meest populaire Javascript framework.

    HandiHow bouwt de meeste applicaties met Angular. Echter, we vinden het kortzichtig om het meest populaire front-end framework niet te onderzoeken. Door het maken van de SkillTree applicatie heeft HandiHow nu voldoende ervaring met React om ook dit te kunnen aanbieden.

    We denken echter niet dat er grote voordelen te behalen zijn t.o.v. Angular. Tenzij er specifieke libraries nodig zijn om een project mee te kunnen maken, die alleen beschikbaar zijn in React. 
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://reactjs.org/" target="_blank">React</a>
  </mat-card-actions>
</mat-card>
