<mat-toolbar color="primary">
	<div>
		<button mat-icon-button (click)="onToggleSidenav()">
			<mat-icon>
				menu
			</mat-icon>
		</button>
	</div>
	<div fxFlex fxLayout="row" fxLayoutAlign="flex-start center">
		<a mat-button routerLink="/"><img src="https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Flogo_handihow3.png?alt=media&token=70ded104-e1cc-42ed-9fff-54118c9f55a1"></a>
	</div>
	<div fxFlex fxLayout="row" fxLayoutAlign="flex-end center">
		<button mat-icon-button (click)="openDialog()" *ngIf="count===0"><mat-icon>help_outline</mat-icon></button>
	</div>
	
</mat-toolbar>