<!-- <div class="under-construction">
	<section class="about-construction">
		<h2>Wij bouwen aan de website</h2>
		<h4>Deze pagina is helaas nog niet beschikbaar</h4>
		<div class="button-row">
  			<a mat-raised-button color="accent" routerLink="/">Terug naar startpagina</a>
  		</div>

	</section>
	
	<section>
	</section>

</div> -->

<div class="mobile-image" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center" >

	<section class="about-mobile">
		<h2>Mobiele applicaties voor het onderwijs</h2>
		<h4>Progressive Web Applications</h4>
		<h4>Native Mobile Applications</h4>
		<div class="button-row">
  			<a mat-raised-button color="accent" routerLink="/">Terug naar startpagina</a>
  		</div>

	</section>
	
	<section>
	</section>

</div>

<div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center">
	<mat-card class="progressive-web-applications" fxFlex.gt-md="50">
		<mat-card-header>
			<div mat-card-avatar class="header-image-angular"></div>
			<mat-card-title>Progressive Web Applications</mat-card-title>
			<mat-card-subtitle>Angular en Firebase</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>Progressive Web Applications zijn een hybride vorm tussen een app en een website. In een PWA worden je webpagina’s weergegeven in een app-omgeving met app-functionaliteit, ook wel een website in een app-jasje. Zo is het bijvoorbeeld mogelijk om de app offline te gebruiken, push berichten te sturen, en de app te installeren op de mobiel (inclusief app icoontje).</p>
			<p>Het grote voordeel van een PWA is dat je geen dubbele ontwikkel- en onderhoudskosten hebt. Het is namelijk dezelfde app als de webapplicatie. Een voorbeeld van een PWA die door HandiHow is ontwikkeld, is SZAPP.</p>
			<a mat-raised-button color="accent" routerLink="/szapp">Vogelvlucht door SZAPP</a>
			<p>Deze manier om mobiele applicaties te maken is met name geschikt voor:</p>
			<ul>
				<li>Applicaties die zowel op de computer, als op de mobiel worden gebruikt</li>
				<li>Apps die niet beschikbaar hoeven te zijn op de app store of bijzondere functionaliteit nodig hebben</li>
			</ul>
			<p>HandiHow maakt gebruik van Angular en Firebase om Progressive Web Apps te programmeren.</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="native-mobile-applications" fxFlex.gt-md="50">
		<mat-card-header>
			<div mat-card-avatar class="header-image-flutter"></div>
			<mat-card-title>Native Mobile Applications</mat-card-title>
			<mat-card-subtitle>Flutter en Firebase</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>Flutter is het nieuwe platform van Google om native mobiele apps te programmeren. Het verschil tussen een PWA en een native mobiele app, is dat de native app niet in de browser van de mobiel wordt getoond, maar direct op de mobiele hardware. Traditioneel gebeurt dat door twee apps te programmeren: 1 voor Android en 1 voor iOS. Maar met Flutter kun je native apps maken voor beide platformen. SelfieTheGame is hier een voorbeeld van, gemaakt door HandiHow.</p>
			<a mat-raised-button color="accent" routerLink="/selfiethegame">Vogelvlucht door SelfieTheGame</a>
			<p>Deze manier om mobiele applicaties te maken is met name geschikt voor:</p>
			<ul>
				<li>Applicaties die uitsluitend op telefoon worden gebruikt</li>
				<li>Apps die beschikbaar en vindbaar zijn in de Google Play Store en iTunes Store</li>
				<li>Apps die speciale functionaliteit nodig hebben die niet beschikbaar is voor PWA</li>
			</ul>
			<p>HandiHow maakt gebruik van Flutter en Firebase om native mobiele apps te maken.</p>
		</mat-card-content>
	</mat-card>
</div>

<mat-card >
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-roeland"></div>
	    <mat-card-title>Welke mobiele app is het beste?</mat-card-title>
	    <mat-card-subtitle>R. Verbakel - Education Developer bij HandiHow</mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
	    <h3>
	      "HandiHow denkt graag mee in oplossingen en zal ook tijdens de verkennende gesprekken aangeven welke methode het beste resultaat geeft.</h3>
	      <h3>De beslissing is met name afhankelijk van de gewenste functionaliteit en op welke manier de app gebruikt gaat worden."</h3>
	  </mat-card-content>
	  
</mat-card>