<mat-card class="cards-portfolio">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-luc"></div>
	    <mat-card-title>Luc Lens - Technisch Heilig Hart Instituut</mat-card-title>
	    <mat-card-subtitle>Coördinator vakgroepondersteuning techniek, ESF medewerker en coördinator duaal leren
	    </mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
	    <h3>
	      "Het is fijn samenwerken met Handihow, gemoedelijk en toch professioneel. Wij kunnen Handihow alleen maar aanraden."</h3>
	  </mat-card-content>	  
</mat-card>

<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between stretch" >
	<mat-card class="cards-portfolio" fxFlex.gt-md="33">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-pillars"></div>
	    <mat-card-title>Pillars</mat-card-title>
	    <mat-card-subtitle>Optimale ICT Resultaten</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="/assets/pillars_screenshots.png" alt="Pillars Web Applicatie">
	  <mat-card-content>
	    <p>
	      Pillars is een webapplicatie ontwikkeld voor scholen. Pillars ondersteunt scholen en schoolbesturen met het complexe vraagstuk rondom ICT en onderwijs.  Scholen werken zo toe naar een optimaal gebruik van aangeschafte ICT middelen.
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <a mat-button href="https://pillars.school" target="_blank">PILLARS WEBSITE</a>
	  </mat-card-actions>
	</mat-card>
	<mat-card class="cards-portfolio" fxFlex.gt-md="33">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-szapp"></div>
	    <mat-card-title>SZAPP</mat-card-title>
	    <mat-card-subtitle>Sterkte Zwakte Analyse App</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="/assets/szapp_screenshots.png" alt="Sterkte Zwakte Analyse App">
	  <mat-card-content>
	    <p>
	    	Deze app brengt competentieniveau's van leerlingen in kaart. Deze competenties zijn onderdeel van de leerplannen op hun school. Het niveau wordt beoordeeld met een van de 4 kleuren en hun bijbehorend symbool.
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <a mat-button href="https://szapp-c42bb.firebaseapp.com/" target="_blank">SZAPP WEBSITE</a>
	  </mat-card-actions>
	</mat-card>
	<mat-card class="cards-portfolio" fxFlex.gt-md="33">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-new"></div>
	    <mat-card-title>Nieuw idee?</mat-card-title>
	    <mat-card-subtitle>Welke app zou jij graag willen?</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="/assets/cooperate_strengths.png" alt="Nieuw app idee?">
	  <mat-card-content>
	    <p>
	      Hebben jullie een idee voor een app? Wij kunnen het ontwikkeltraject van A-Z voor jullie verzorgen. Wij werken in het openbaar en alle code staat op GitHub. Hierdoor is de continuiteit van jouw project altijd gewaarborgd.
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <a mat-button href="https://github.com/handihow" target="_blank">HANIDHOW OP GITHUB</a>
	  </mat-card-actions>
	</mat-card>
</div>