<mat-card class="cards-portfolio">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-luc"></div>
	    <mat-card-title>Luc Lens - Technisch Heilig Hart Instituut</mat-card-title>
	    <mat-card-subtitle>Coördinator vakgroepondersteuning techniek, ESF medewerker en coördinator duaal leren
	    </mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
	    <h3>
	      "Het is fijn samenwerken met Handihow, gemoedelijk en toch professioneel. Wij kunnen Handihow alleen maar aanraden."</h3>
	  </mat-card-content>	  
</mat-card>



<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between stretch" >
	<mat-card class="cards-portfolio" fxFlex.gt-md="33">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-new"></div>
	    <mat-card-title>Digitale vaardighedenscan</mat-card-title>
	    <mat-card-subtitle>O21 | Onderwijs in de 21ste eeuw</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Fportfolio_HiH_O21.png?alt=media&token=3cbb89f8-70c9-4fa4-a834-43c35c439b53" alt="Digitale vaardighedenscan">
	  <mat-card-content>
	    <p>
	      De digitale vaardighedenscan is een online applicatie die inzicht geeft in het huidige vaardigheidsniveau en daarmee handvatten geeft voor het gewenste nascholingsaanbod binnen je school of bestuur. 
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <a mat-button routerLink="/dvs">DIGITALE VAARDIGHEDENSCAN</a>
	  </mat-card-actions>
	</mat-card>

	<mat-card class="cards-portfolio" fxFlex.gt-md="33">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-pillars"></div>
	    <mat-card-title>Pillars</mat-card-title>
	    <mat-card-subtitle>Optimale ICT Resultaten</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Fportfolio_HiH_Pillars.png?alt=media&token=44120547-9e6a-440c-892d-2a3d9f7dddb2" alt="Pillars Web Applicatie">
	  <mat-card-content>
	    <p>
	      Pillars is een webapplicatie ontwikkeld voor scholen. Pillars ondersteunt scholen en schoolbesturen met het complexe vraagstuk rondom ICT en onderwijs.  Scholen werken zo toe naar een optimaal gebruik van aangeschafte ICT middelen.
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <a mat-button routerLink="/pillars">BEKIJK PILLARS</a>
	  </mat-card-actions>
	</mat-card>
	<mat-card class="cards-portfolio" fxFlex.gt-md="33">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-szapp"></div>
	    <mat-card-title>SZAPP</mat-card-title>
	    <mat-card-subtitle>Sterkte Zwakte Analyse App</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Fportfolio_HiH_SZAPP.png?alt=media&token=9fca2be4-6320-4d17-b8dd-1b899d621652" alt="Sterkte Zwakte Analyse App">
	  <mat-card-content>
	    <p>
	    	Deze app brengt competentieniveau's van leerlingen in kaart. Deze competenties zijn onderdeel van de leerplannen op hun school. Het niveau wordt beoordeeld met een van de 4 kleuren en hun bijbehorend symbool.
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <a mat-button routerLink="/szapp">BEKIJK SZAPP</a>
	  </mat-card-actions>
	</mat-card>
</div>