.cards-portfolio{
    margin: 10px;
}

.header-image-pillars {
  background-image: url('/assets/logo_pillars.png');
  background-size: cover;
}

.header-image-szapp {
  background-image: url('/assets/logo_szapp.png');
  background-size: cover;
}

.header-image-new {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Flogo_O21_rond.png?alt=media&token=21b10533-5d7e-403c-b5ec-a50a791277d3');
  background-size: cover;
}

.header-image-luc {
  background-image: url('/assets/well_done.png');
  background-size: cover;
}