.cards-portfolio{
    margin: 10px;
}

.header-image-pillars {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Flogo_pillars.png?alt=media&token=e6c84100-68e7-4204-bcb6-90809584faac');
  background-size: cover;
}

.header-image-szapp {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Flogo_szapp.png?alt=media&token=b682a6c8-6d8c-45e8-9805-639130ac3f2d');
  background-size: cover;
}

.header-image-new {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Flogo_O21_rond.png?alt=media&token=21b10533-5d7e-403c-b5ec-a50a791277d3');
  background-size: cover;
}

.header-image-luc {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Fwell_done.png?alt=media&token=83e61f0d-2227-48d3-86e8-c2babb662d5e');
  background-size: cover;
}