<div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center">
	<mat-card fxFlex.gt-md="50">
		<mat-card-header>
			<mat-card-title>Prijzen</mat-card-title>
			<mat-card-subtitle>Geldig van 1-1-2019 tot 31-12-2019</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<h3>Ontwikkeling</h3>
			<p>HandiHow hanteert twee uurtarieven:</p>
			<ul>
				<li>Open source: 60 euro per uur</li>
				<li>Vertrouwelijk: 90 euro per uur</li>
			</ul>
			<h3>Implementatie</h3>
			<p>Voor implementatie wordt een totaalprijs afgesproken.</p>
			<h3>Onderhoud</h3>
			<p>Voor onderhoud wordt een jaarlijks onderhoudscontract afgesloten.</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="single-page-applications" fxFlex.gt-md="50">
		<mat-card-header>
			<mat-card-title>Open Source</mat-card-title>
			<mat-card-subtitle>De voordelen van open source op een rij</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>Open source werken heeft de volgende voordelen:</p>
			<ul>
				<li>Transparantie en continuiteit - het project kan altijd worden voortgezet</li>
				<li>Veiligheid - de code kan door iedereen worden geinspecteerd</li>
				<li>Samenwerken en delen - de code kan door iedereen worden gebruikt en bijgewerkt</li>
			</ul>
			<h3>Veiligheid</h3>
			<p>Er wordt bij apps onderscheid gemaakt tussen de front-end en de backend. Alle vertrouwelijke gegevens zoals gebruikers en informatie, worden opgeslagen op de back-end. Dit gedeelte wordt niet gedeeld met het publiek.</p>
			<p>De front-end code wordt op Github geplaatst zonder alle sleutels (API-keys) die nodig zijn voor de communicatie met de backend.</p>
			<p>Zodra een volgende school gebruik wil maken van het systeem, moet deze school dus eerst een eigen database aanmaken en ook eigen sleutels om hiermee te communiceren.</p>
		</mat-card-content>
	</mat-card>
</div>

<mat-card >
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-roeland"></div>
	    <mat-card-title>Waarom twee uurtarieven?</mat-card-title>
	    <mat-card-subtitle>R. Verbakel - Education Developer bij HandiHow</mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
	    <h3>
	      "HandiHow wil het delen van informatie en ideeën stimuleren. Onze apps worden waardevol door de input van veel verschillende onderwijs professionals.</h3>
	      <h3>Daarom werken wij voor een aantrekkelijker uurtarief als jullie school bereid is de code ook met andere scholen te delen."</h3>
	  </mat-card-content>
	  
</mat-card>