<div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center">
	<mat-card fxFlex.gt-md="50">
		<mat-card-header>
			<mat-card-title>Prijzen</mat-card-title>
			<mat-card-subtitle>Geldig van 1-1-2019 tot 31-12-2019</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<h3>Ontwikkeling</h3>
			<p>HandiHow hanteert een uurtarief van 60 euro per uur.</p>
			<h3>Totaalprijzen</h3>
			<p>Projecten kunnen worden opgeleverd voor een vooraf afgesproken totaalprijs. Zo weet je vooraf waar je aan toe bent.</p>
			<h3>Service Level Agreement</h3>
			<p>Voor onderhoud, support en doorontwikkeling wordt een jaarlijks onderhoudscontract (SLA) afgesloten.</p>
			
		</mat-card-content>
	</mat-card>
	<mat-card class="single-page-applications" fxFlex.gt-md="50">
		<mat-card-header>
			<mat-card-title>Voorwaarden en veiligheid</mat-card-title>
			<mat-card-subtitle>Een vertrouwde omgeving creeëren</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<h3>Leveringsvoorwaarden</h3>
			<p>De leveringsvoorwaarden van HandiHow kunnen via <a href="https://docs.google.com/document/d/14juIdk-Mz9w976puNEu1yojMqEGDANpKnuS6ZwJbE5Y/edit?usp=sharing" target=_blank>deze link</a> worden ingezien.</p>
			<h3>Beveiliging van gegevens</h3>
			<p>Er wordt bij apps onderscheid gemaakt tussen de front-end en de back-end. Alle vertrouwelijke gegevens zoals gebruikers en informatie, worden opgeslagen op de back-end. Dit gedeelte wordt beveiligd met security rules.</p>
			<p>De front-end code wordt op Github geplaatst zonder alle sleutels (API-keys) die nodig zijn voor de communicatie met de back-end.</p>
			<p>Klanten krijgen toegang tot het Github project. Zo is altijd de laatste versie van de broncode beschikbaar.</p>
		</mat-card-content>
	</mat-card>
</div>

<mat-card >
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-roeland"></div>
	    <mat-card-title>Altijd duidelijk</mat-card-title>
	    <mat-card-subtitle>R. Verbakel - Education Developer bij HandiHow</mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
	    <h3>
	      "HandiHow wil ieder ICT project opleveren met de hoogste kwaliteit en binnen het afgesproken budget. We leveren de app met een vooraf bepaalde totaalprijs zodat je niet voor verrassingen komt te staan."</h3>
	  </mat-card-content>
	  
</mat-card>