.cards-offering{
    margin: 10px;
}


.header-image-python {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Fpython.jpg?alt=media&token=7f781db4-f186-4307-b0ad-2a40e4f613ed');
  background-size: cover;
}


