<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between stretch" >
	<mat-card class="cards-offering" fxFlex.gt-md="33">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-angular"></div>
	    <mat-card-title>Web applicaties</mat-card-title>
	    <mat-card-subtitle>MongoDB, Express, Angular, Node.js</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Fangular_web_apps.png?alt=media&token=75102296-46e9-4065-8a57-9317159cd18b" alt="Angular Web Apps">
	  <mat-card-content>
	    <p>
	      Handihow maakt web applicaties met de nieuwste technologieen zoals Node.js, Express en MongoDB. HandiHow maakt ook Single Page Applications (SPA) met Angular.
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <a mat-button routerLink="/web">INFO</a>
	  </mat-card-actions>
	</mat-card>
	<mat-card class="cards-offering" fxFlex.gt-md="33">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-flutter"></div>
	    <mat-card-title>Mobiele applicaties</mat-card-title>
	    <mat-card-subtitle>Progressive Web Applications en Flutter</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Fflutter_native_mobile_apps.png?alt=media&token=6d35b74b-4fb1-490a-adf7-95aea1d5f793" alt="Flutter Native Mobile Apps">
	  <mat-card-content>
	    <p>
	    	HandiHow maakt Progressive Web Applications (PWA) voor mobiele apparaten. We maken ook native mobiele apps voor iOS en Android met Flutter. Hiermee maken we in één keer apps voor Android en voor iOS.
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <a mat-button routerLink='/mobile'>INFO</a>
	  </mat-card-actions>
	</mat-card>
	<mat-card class="cards-offering" fxFlex.gt-md="33">
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-python"></div>
	    <mat-card-title>Cursussen</mat-card-title>
	    <mat-card-subtitle>Computational thinking</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Fpython_education.png?alt=media&token=89bba564-716f-4a82-89a0-681aa6938c8b" alt="Python Education">
	  <mat-card-content>
	    <p>
	      Leer hoe je programmeren kunt integreren in het bestaande curriculum. Bijvoorbeeld apps bouwen met Appsheet of programmeren met Python in de klas. 
	    </p>
	  </mat-card-content>
	  <mat-card-actions>
	    <!-- <a mat-button routerLink='/education'>INFO</a> -->
	    <a mat-button routerLink='/freebie'>GRATIS LESMATERIAAL</a>
	  </mat-card-actions>
	</mat-card>
</div>