<h1 mat-dialog-title>Los het raadsel op</h1>
<div mat-dialog-content>
  <p>Op de zuidbank van een brede wilde rivier staan 3 kannibalen en 3 missionarissen. Zij willen naar de overkant.</p> 
  <p>Er is een boot waar hoogstens 2 personen tegelijk in passen. Zodra er echter ergens bij elkaar méér kannibalen zijn dan missionarissen, eten de kannibalen de missionarissen op!</p> 
  <p>Hoe kan dit vervoer plaatsvinden zonder dat er iemand wordt opgegeten?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.secret" type="number">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onFillAnswer()">Vul antwoord in</button>
  <button mat-button [mat-dialog-close]="data.secret" cdkFocusInitial>Ok</button>
</div>