/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.header-image-roeland {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Froeland.jpg?alt=media&token=8f322eea-cae6-4967-8497-013103dfdaa9');
  background-size: cover;
}

.under-construction {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Funder_construction.png?alt=media&token=fc14e004-2423-4a5a-b4cc-b1a6d0b3dd88');
  background-size: cover;
  height: 80vh;
  margin: 10px;
}

.about-construction {
	color:white;
	max-width: 500px;
	padding: 30px;
	border-radius: 25px;
}

.header-image-angular {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Fangular.png?alt=media&token=f47102bd-a74b-410e-9f6d-db9726204af2');
  background-size: cover;
}

.header-image-flutter {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/handihow-186e5.appspot.com/o/home%2Fflutter.jpg?alt=media&token=3e8b09dd-dc2f-4658-959b-a5dd6ea8c921');
  background-size: cover;
}

.secret {
    height: 75px;
}
.kaartje {
  height: 300px;
}