<h1 mat-dialog-title>Los het raadsel op</h1>
<div mat-dialog-content>
  <p>Een dief wil graag een kluis openmaken, maar hij weet de 5-cijferige code niet.</p> 
  <p>Hij weet wel het volgende:</p>
  <ul>
  	<li>Het vijfde plus het derde getal is gelijk aan veertien.</li>
	<li>Het vierde getal is een meer dan het tweede.</li>
	<li>Het eerste getal is een minder dan twee keer het tweede getal.</li>
	<li>Het tweede plus het derde getal is gelijk aan tien.</li>
	<li>De som van alle getallen is gelijk aan dertig.</li>
  </ul>
  <p>Wat is de code?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.secret" type="number">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onFillAnswer()">[Antwoord]</button>
  <button mat-button [mat-dialog-close]="data.secret" cdkFocusInitial>Ok</button>
</div>