<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between stretch" >
	<mat-card class="selfiethegame" fxFlex.gt-md="33">
		  <mat-card-header>
		  	<div mat-card-avatar class="under-construction"></div>
		    <mat-card-title>SelfieTheGame</mat-card-title>
		    <mat-card-subtitle>Nieuw van Handihow! Het selfiespel - SelfieTheGame.</mat-card-subtitle>
		  </mat-card-header>
		  <img mat-card-image src="/assets/selfiespel.png" alt="Selfiespel Web Applicatie">
		  <mat-card-content>
		    Dit spel kan in meerdere settings gespeeld worden. Met familie, vrienden of in de klas.
		  </mat-card-content>	
	</mat-card>

	<mat-card class="selfiethegame" fxFlex.gt-md="33">
		  <mat-card-header>
		  	 <div mat-card-avatar class="header-image-new"></div>
		    <mat-card-title>SelfieTheGame vogelvlucht</mat-card-title>
		    <mat-card-subtitle>Hoe werkt het selfiespel?</mat-card-subtitle>
		  </mat-card-header>
		  <mat-card-content>
		    <p>De beheerder maakt een nieuw spel en dan kan iedereen zich aanmelden met mobiele telefoon (scan de QR code).</p>
		    <p>Dan worden de teams ingesteld en de opdrachten geformuleerd. De opdrachten zijn in de vorm "Maak een selfie met..."</p>
		    <p>Het spel wordt gestart. Teams moeten selfies maken voor alle opdrachten. Met de opdrachten zijn punten te verdienen.</p>
		    <p>De juryleden kunnen punten geven aan de ingediende selfies. Het beste team wint!</p>
		    <p>Voor optimale gebruikerservaring, doe je het beheer via de web applicatie en speel je via de native mobiele apps.</p>
		  </mat-card-content>	
		  <mat-card-actions>
		  	 <a mat-button routerLink="/selfiethegame">BEKIJK SELFIESPEL</a>
		  </mat-card-actions>  
	</mat-card>

	<mat-card class="selfiethegame" fxFlex.gt-md="33">
		  <mat-card-header>
		  	<div mat-card-avatar class="roadmap"></div>
		    <mat-card-title>SelfieTheGame mobiele apps</mat-card-title>
		    <mat-card-subtitle>Made with Flutter!</mat-card-subtitle>
		  </mat-card-header>
		  <mat-card-content>
		  	De mobiele apps van het selfiespel zijn geprogrammeerd met <a href="https://flutter.dev/" target=_blank>Flutter</a>. Dit is een prachtig nieuw framework van Google om mobiele apps voor zowel iOS als Android mee te programmeren.
		    <a href='https://play.google.com/store/apps/details?id=com.handihow.selfiethegame&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target=_blank>
		    	<img alt='Ontdek het op Google Play' src='https://play.google.com/intl/en/badges/images/generic/nl_badge_web_generic.png' height="100" />
		    </a>
		    <p>iOS app coming soon...</p>
		  </mat-card-content>
	</mat-card>
</div>