<div class="landing-image" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center" >

	<section class="about-handihow">
		<div *ngIf="count>0" fxLayout="row" fxLayoutAlign="center center">
			<img src="/assets/stickers/ster_zilver.png" 
					class="secret animated heartBeat delay-1s"
					matTooltip="Maak de pagina mooier. Los nog twee puzzels op!">
		</div>
		<h2>Develop Your Education</h2>
		<h4>Applicaties voor het onderwijs</h4>
		<h4>Programmeren combineren met leren</h4>
		<div class="button-row">
  			<a mat-raised-button color="accent" routerLink='/freebie'>Download gratis lesmateriaal</a>
  		</div>

	</section>
	
	<section>

	</section>

</div>

<app-services></app-services>

<app-strengths></app-strengths>

<app-portfolio></app-portfolio>

