<div class="web-image" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center" >

	<section class="about-web">
		<h2>Web applicaties voor het onderwijs</h2>
		<h4>Traditionele web development</h4>
		<h4>Single Page Applications</h4>
		<div class="button-row">
  			<a mat-raised-button color="accent" routerLink="/">Terug naar startpagina</a>
  		</div>

	</section>
	
	<section>
	</section>

</div>

<div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center">
	<mat-card class="traditional-web-applications" fxFlex.gt-md="50">
		<mat-card-header>
			<mat-card-title>Traditionele web applicaties</mat-card-title>
			<mat-card-subtitle>Node.js, Express, MongoDB en Bootstrap</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>Heb jij processen die veel meer tijd in beslag nemen dan nodig? Administratie kost je docenten of medewerkers vaak onnodig veel tijd. Tijd die ze ook aan andere dingen kunnen besteden. Met webapplicaties kun je processen automatiseren of administraties efficiënter bijhouden. Een voorbeeld van zo'n applicatie die door HandiHow is ontwikkeld, is Pillars.</p>
			<a mat-raised-button color="accent" href="https://pillars.school" target="_blank">Bezoek de Pillars website</a>
			<p>Traditionele web applicaties zijn al jaren DE manier om efficiente en veilige digitale omgevingen te maken. Dit werkt op de volgende manier. De gebruiker vraagt informatie op via een url. De server controleert dan of de gebruiker de juiste rechten heeft, en indien dit het geval is, stuurt hij de informatie in de vorm van een nieuwe pagina.</p>
			<p>Deze manier om web applicaties te maken is met name geschikt voor:</p>
			<ul>
				<li>Applicaties die voornamelijk op de computer worden gebruikt</li>
				<li>Hoge mate van security vereisen</li>
			</ul>
			<p>HandiHow maakt gebruik van MongoDB, Node.js en Express voor het programmeren van de back-end. We gebruiken de front-end frameworks Bootstrap en Semantic UI om de app volledig responsive te maken.</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="single-page-applications" fxFlex.gt-md="50">
		<mat-card-header>
			<mat-card-title>Single Page Applications</mat-card-title>
			<mat-card-subtitle>Angular, Angular Material en Firebase</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>Single Page Applications werken op een andere manier dan traditionele web applicaties. Er is feitelijk slechts 1 pagina die continue andere elementen zichtbaar maakt. Op de achtergrond vraagt de app informatie op van de database. Zo blijft de app altijd actief en kun je bijvoorbeeld een spinner laten zien als informatie wordt geladen. Een voorbeeld van een SPA die door HandiHow is ontwikkeld, is SZAPP.</p>
			<a mat-raised-button color="accent" href="https://szapp-c42bb.firebaseapp.com/" target="_blank">Bezoek de SZAPP website</a>
			<p>Deze nieuwe manier van programmeren maakt het ook mogelijk om de app te converteren in een Progressive Web Application. Deze kan vervolgens door mobiele gebruikers worden geinstalleerd op hun mobiele telefoon. Het ziet er dan uit als een gewone app op de telefoon.</p>
			<p>Deze manier om web applicaties te maken is met name geschikt voor:</p>
			<ul>
				<li>Applicaties die zowel op computer als telefoon worden gebruikt</li>
				<li>Leerlingen verwachten vaak SPA elementen, zoals spinners, tijdens het wachten op informatie</li>
			</ul>
			<p>HandiHow maakt gebruik van Firebase voor het programmeren van de back-end. We gebruiken de front-end frameworks Angular en Angular Material om de app volledig responsive te maken.</p>
		</mat-card-content>
	</mat-card>
</div>

<mat-card >
	  <mat-card-header>
	    <div mat-card-avatar class="header-image-roeland"></div>
	    <mat-card-title>Welke manier is het beste?</mat-card-title>
	    <mat-card-subtitle>R. Verbakel - Education Developer bij HandiHow</mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
	    <h3>
	      "HandiHow denkt graag mee in oplossingen en zal ook tijdens de verkennende gesprekken aangeven welke methode het beste resultaat geeft.</h3>
	      <h3>Deze beslissing is wel belangrijk aan het begin van het ontwikkelproces. Later kun je erg lastig overstappen."</h3>
	  </mat-card-content>
	  
</mat-card>